{% extends 'base.html' %}

{% block title %}
Todo Master
{% endblock %}
{% block body %}

<div class="container">
    <div class="jumbotron mt-3">
        <h1>Todo Masters</h1>
        <strong>where you can manage you daily tasks.</strong>
    </div>

    <div class="">
        <form action="/" method="POST">
            <div class="form-group row col">
                <input autofocus type="text" name="content" class="col col-sm-4 form-control" placeholder="Add A Task ...">
                <button type="submit" class="btn btn-info ml-2">Submit</button>
            </div>
        </form>
    </div>

    <div class="">
        <table class="table table-bordered table-striped table-hover">

            <head>
                <tr>
                    <th>Task</th>
                    <th>Added</th>
                    <th>Actions</th>
                </tr>
            </head>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{task.content}}</td>
                        <td>{{task.date_created.date()}}</td>
                        <td>
                            <a href="delete/{{task.id}}">Delete</a>
                            <a href="update/{{task.id}}">Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}